body{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/834/21/212/coffee-morning-photography-hd-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}